[Unit]
Description = interludeaudiodisplayservice 
After = multi-user.target

[Service]
ExecStart=/bin/bash -c /home/pi/digihat_display/interludeaudio_display.sh
WorkingDirectory=/home/pi/digihat_display
User=pi
[Install]
WantedBy=multi-user.target

